---
title: "Aktuelles"
layout: default
permalink: "/aktuelles.html"
pagination:
    enabled: true
---

<div class="container">
<!-- Hero Image 
<div style="background-size:cover;background-image:url({{site.baseurl}}/assets/images/berufsschule-5.JPG);">	
-->
<div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url({{site.baseurl}}/assets/images/berufsschule-5.JPG);height: 50vh;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
    <div class="hero-text" style="text-align: left;position: relative;top: 50%;transform: translate(0%, -50%);color: white; padding-left: 5%;">
        <h1>Aktuelles aus unserem Verein</h1>
        
    </div>
</div> 

<!-- Posts -->

<div class="row mt-3">
    <div class="col-12 mx-auto main-loop">
      <h4 class="font-weight-bold spanborder"><span>Alle Posts</span></h4>
  
      <div class="row">
        {% for post in site.posts %}
          <div class="col-md-6 col-lg-4 mb-4">
            {% include main-loop-card-image.html %}
          </div>
        {% endfor %}
      </div>
  
      <div class="mt-5">
        <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <ul class="pagination justify-content-center">
          {% if paginator.previous_page %}
            <li class="page-item">
              <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
  
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="page-item active"><span class="page-link">{{ page }}</span></li>
            {% elsif page == 1 %}
              <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
              </li>
            {% endif %}
          {% endfor %}
  
          {% if paginator.next_page %}
            <li class="page-item">
              <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  

</div>