<div class="container">

    <!-- Hero Image -->
    <div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url({{site.baseurl}}{{page.image}});height: 50vh;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
        <div class="hero-text" style="text-align: left;position: relative;top: 50%;transform: translate(0%, -50%);color: white; padding-left: 5%;">
            <h1 class="font-weight-bold">{{ site.data.translation.headline-about[page.lang] }}</h1>
        </div>
    </div> 

    <!-- Section 1 -->
    {% assign about_permalink = "/" | append: page.lang | append: "/about/section-1.html" %}
    {% assign section = site.pages | where: "permalink", about_permalink | first %}
    {% include page-section.html %}

    <!-- Section 2 -->
    {% assign about_permalink = "/" | append: page.lang | append: "/about/section-2.html" %}
    {% assign section = site.pages | where: "permalink", about_permalink | first %}
    {% include page-section.html %}

    <div style="padding: 20px"></div>

    <!-- Mitarbeiter 
    {% assign employee_page = site.pages | where: "permalink", "/about/mitarbeiter.html" | first %}
    
    {{ employee_page.content | markdownify }}
    -->

    <h1>{{ site.data.translation.employees[page.lang] }}</h1>

    {% assign lang_filter = "/" | append: page.lang | append: "/" %}
    <!--{% assign employee_pages = site.pages | where_exp:"item", "item.path contains '_pages/employees' and item.path contains lang_filter" | sort: "title" %}
    {% assign employee_pages = site.pages | where_exp:"item", "item.path contains '_pages/employees/{{page.lang}}'" | sort: "title" %}-->
    {% capture lang_path %}/{{ page.lang }}/{% endcapture %}
    {% assign employee_pages = site.pages | where_exp:"item", "item.path contains '_pages/employees' and item.path contains lang_path" | sort: "title" %}

    {% for employee_page in employee_pages %}
        {% include employee-card.html %}
    {% endfor %}

    <div style="padding: 20px"></div>


    <!-- Section 3 Kamerun -->
    {% assign about_permalink = "/" | append: page.lang | append: "/about/section-3.html" %}
    {% assign about_page = site.pages | where: "permalink", about_permalink | first %}
    {{ about_page.content | markdownify }}
</div>
