
<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
    <div class="pl-0 pr-0 h-100 tofront">
        <div class="row justify-content-between">

			{% if about_page.image_pos == "leading" %}
				<div class="col-md-6 d-none d-md-block pl-0" style="background-size:cover;background-image:url({{site.baseurl}}/{{ about_page.image }});">	
				</div>
			{% endif %}

            <div class="col-md-6 pl-4 pt-6 pb-6 pr-lg-4 align-self-center">
                <h1 class="mb-3">{{about_page.title}}</h1>
                <p class="mb-3 lead">
                    {{ about_page.content | markdownify }}
                </p>
            </div>

			{% if about_page.image_pos != "leading" %}
				<div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{site.baseurl}}/{{ about_page.image }});">	
				</div>
			{% endif %}
            
        </div>
    </div>
</div>