<!-- Menu links -->

<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/{{ page.lang }}/">{{ site.data.translation.header-menu-home[page.lang] }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/{{ page.lang }}/news.html">{{ site.data.translation.header-menu-news[page.lang] }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/{{ page.lang }}/projects.html">{{ site.data.translation.header-menu-projects[page.lang] }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/{{ page.lang }}/about.html">{{ site.data.translation.header-menu-about[page.lang] }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/{{ page.lang }}/contact.html">{{ site.data.translation.header-menu-contact[page.lang] }}</a>
</li>

<!-- Language Switcher -->
<li class="nav-item d-flex align-items-center">
    <select id="language-switcher" class="form-control form-control-sm ml-2" onchange="switchLanguage(this)">
        <option value="en" {% if page.lang == "en" or page.url contains '/en/' %}selected{% endif %}>EN</option>
        <option value="de" {% if page.lang == "de" or page.url contains '/de/' %}selected{% endif %}>DE</option>
    </select>
</li>

<script>
    function switchLanguage(select) {
        const lang = select.value;
        const base_url = `{{ site.baseurl }}`;
        const currentPage = window.location.pathname.replace(`${base_url}/`, ``).slice(3);
        window.location.href = `${base_url}/${lang}/${currentPage}`;
    }
</script>