<div class="jumbotron jumbotron-fluid jumbotron-home bg-lightblue position-relative mt-4 mb-4 p-0">
    <div class="h-100 tofront">
        <div class="row no-gutters align-items-stretch" style="min-height: 100%;">

            {% if section.image-pos == "left" %}
                <div class="col-md-6 d-none d-md-block p-0"
                     style="background-image: url({{site.baseurl}}/{{ section.image }}); background-size: cover; background-position: center; background-repeat: no-repeat;">
                </div>
                <div class="col-md-6 d-flex align-items-center py-6 px-5">
                    <div class="w-100">
                        <h1 class="mb-3">{{section.title}}</h1>
                        <p class="mb-3 lead">
                            {{ section.content | markdownify }}
                        </p>
                        {% if section.button-text %}
                        <a href="{{site.baseurl}}/{{section.lang}}/{{section.button-link}}" class="btn btn-dark">{{ section.button-text }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if section.image-pos != "left" %}
                <div class="col-md-6 d-flex align-items-center py-6 px-5">
                    <div class="w-100">
                        <h1 class="mb-3">{{section.title}}</h1>
                        <p class="mb-3 lead">
                            {{ section.content | markdownify }}
                        </p>
                        {% if section.button-text %}
                        <a href="{{site.baseurl}}/{{section.lang}}/{{section.button-link}}" class="btn btn-dark">{{ section.button-text }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block p-0"
                     style="background-image: url({{site.baseurl}}/{{ section.image }}); background-size: cover; background-position: center; background-repeat: no-repeat;">
                </div>
            {% endif %}

        </div>
    </div>
</div>