<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-6 pt-6 pb-6 pr-lg-4 align-self-center">
                <h1 class="mb-3">{{project_page.title}}</h1>
                <p class="mb-3 lead">
                    {{ project_page.summary }}
                </p>
                <a href="{{site.baseurl}}{{project_page.url}}" class="btn btn-dark">Mehr erfahren</a>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{site.baseurl}}/{{ project_page.images[0] }});">	
            </div>
        </div>
    </div>
</div> 