<div class="container">

    <!-- Hero Image -->
    <div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url({{site.baseurl}}{{page.image}});height: 50vh;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;">
        <div class="hero-text" style="text-align: left;position: relative;top: 50%;transform: translate(0%, -50%);color: white; padding-left: 5%;">
            <h1 class="font-weight-bold">{{ site.data.translation.headline-about[page.lang] }}</h1>
        </div>
    </div> 

    {% assign about_sections = site.about_sections | where: "lang", page.lang %}

    <!-- Section 1 -->
    {% assign section = about_sections | where_exp: "item", "item.relative_path contains 'section-1.md'" | first %}
    {% include page-section.html %}

    <!-- Section 2 -->
    {% assign section = about_sections | where_exp: "item", "item.relative_path contains 'section-2.md'" | first %}
    {% include page-section.html %}

    <div style="padding: 20px"></div>

    <!-- Mitarbeiter -->

    {% assign employee_pages = site.employees | where: "lang", page.lang %}

    <div class="row mt-3">
        <div class="col-12 mx-auto">
          <h1 class="font-weight-bold spanborder">
            <span>{{ site.data.translation.employees[page.lang] }}</span>
          </h1>
      
          <div class="row">
            {% for employee_page in employee_pages %}
              <div class="col-12 col-md-6 mb-4">
                {% include employee-card.html %}
              </div>
            {% endfor %}
          </div>
          
        </div>
    </div>

    <div style="padding: 20px"></div>


    <!-- Section 3 Kamerun -->
    {% assign section = about_sections | where_exp: "item", "item.relative_path contains 'section-3.md'" | first %}
    {{ section.content | markdownify }}
</div>
